<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="3.6.0" targetFramework="net461" />
  <package id="UITest.ChromeDriver" version="1.32.0" targetFramework="net461" />
  <package id="UITest.Core" version="0.1.0.110" targetFramework="net461" />
  <package id="UITest.Runner" version="0.1.0.110" targetFramework="net461" />
</packages>